*{margin:0;padding:0}

#timeout{color:blue}

.input-300{width:300px;height:40px;font-size:16px;padding-left:10px;letter-spacing: 1px}
.hover-bg-red:hover{background-color: #F75E30}
.color-white{color:#fff}
.bg-grey{background-color:#777D7D}
.bg-blue{background-color:#30C1DD}


/* 固定模块的样式 */
.frame-wrapper{margin-top:-10px}
.frame-navbar{}

.clean-both{clear: both;width:100%}