@CHARSET "UTF-8";
#webHeader{background:url("../img/blackBg.png") repeat;padding:20px;position:relative;height:30px}
.pro_title{color:#000;font-size:18px;display:inline-block}
.pro_title img{width:40px}
.pro_title span{width:18px;font-size:26px;color:#fff}
#menu{display:inline-block;list-style-type : none;margin-left:100px}
#menu li{float:left;margin-right:20px}
#menu li a{color:#fff;text-decoration: none;padding:10px 0}
#menu li a:hover{color:#5AB0D6}

#logout{text-align:center;line-height:70px;text-decoration:none;font-size: 16px;background-color: #4C4848;height:100%;position:absolute;top:0;border:0;right:0;width:100px;color:#fff;letter-spacing: 2px}
#logout:hover{background-color: #E46969}